@media (max-width :1200px)
{
    body{
        .section-2
        {
           display: flex;
           flex-wrap: wrap;
           height: 100px;
           width: 48%;
        }
        .bg-text-1 a
        {
            margin-left: 850px;
        }
        /* gaming headphone */
        .Gaming_headphone
        {
            width: 42%;
            height: 570px;
            border: 1px solid rgb(229, 233, 233);
            justify-content: space-between;
            border-radius: 10px;
            background-color: white;
        }
        .Gaming_headphone-image img{
          display: flex;
          flex-wrap: wrap;
          height: 400px;
          width: 400px;
        }

        .antec_air_cooler
        {
            width: 42%;
            height: 570px;
            border: 1px solid rgb(229, 233, 233);
            justify-content: space-between;
            border-radius: 10px;
            background-color: white;
        }
        .antec_air_cooler img
        {
            object-fit: cover;
            overflow: hidden;
            height: 400px;
            width: 400px; 
        }
         .Sony_Lady_fitness_watch
        {
            display: none;
        }

        /* sticky */
        .part-3-fix
        {
           width: 60%;
        }
        .sticky {
            position: sticky;
         }
        
    }
}
/* laptop :992px up */
@media (max-width :992px) 
{
    body{


    }
}

/* tablets :768px up */
@media (max-width :768px) 
{
    body{

    }
}

/* large phone  :600px up */
@media (max-width :600px) 
{
    body{

    }
}

/* phone 320px down */
@media (max-width :320px) 
{
    body
    {
      .containerwi
      {
        max-width: 320px;
      }
      .bg-top-color
      {
        display: none;
      }
      .border
      {
        display: none;
      }
      #inherhead2
      {
        display: none;
      } 
      .best-bg
      {
        height: 750px;
      }
      .bg-text span{
        font-size: 12px;
      }
      .bg-text h1 b{
        font-size: 30px;
      }
      .other-images-1 
      {
        position: absolute;
        left: 200px;
        top: -150px;
      }
      .other-image-2 {
        position: relative;
        top: -10px;
        left: 20px;
     }
      .bg-text h2{
        font-size: 12px;
      }
      .watch{
        /* height: 50px;
        width: 80px; */
        position: absolute;
        top: 400px;
      }

      /* section-2 */
     .section-2{
      width: 100%;
     }
     /* MAin part-3 */
     .bg-color-part-3{
      padding: 0;
     }
     .antec_air_cooler
     {
      display: none;
     }
     .wrap_contain
     {
      width: 100%;
      height: 550px;
     }
     .sticky {
      position: relative;
      top: 0;
     }
    /* section-7 */
    .section-7
    {
      height: 700px;
    }
    .background-text h1 
    {
      font-size: 20px;
    }
    .background-text h2
    {
      font-size: 15px;
    }
    .back-image-1
    {
      position: absolute;
      top: 300px;
      right: 5px;
    }
    .add-image-1 img
    {
      width: 100%;
    }
    .add-image-2 img
    {
      width: 100%;
    } 
    }
}