* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
}

.container {
   max-width: 1140px;
   margin: auto;
   position: relative;
   height: inherit;
}

/*  HEADER PART -srarting */
.bg-top-color {
   background-color: black;
}

.topbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0px;
   font-size: 13px;
   font-weight: 900;
}

.topbar-text p {
   color: #d3d1d1;
}

.topbar-text p i {
   color: orange;
   font-size: 15px;
}

.top-select {
   display: flex;
   border: 0;
}

.selected select {
   background-color: black;
   color: white;
   outline: 0px;
   border: 0px;
   border-right: 1PX solid rgb(138, 137, 137);
}


/* NAVIGATION START */
/* Navbar */
.border {
   border-bottom: 1px solid grey;
}

.navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 27px;
   padding-bottom: 27px;
   /* margin: 0px 19px; */
}

/* 1.logo */
.logo {
   width: 15%;
}

.navi-select select:focus {
   outline: 0px;
}

/*2. SERACH botton */
.search-input {
   width: 44%;
   border: 2px solid #0989ff;
   display: flex;
   align-items: center;
}

.text-input input {
   width: 100%;
   border: 0;
   padding: 5px 50px 5px 15px;
}

.text-input:focus-within input {
   border: 0;
   outline: none;
}

.navi-select {
   width: 40%;
   border-left: 2px solid rgb(188, 185, 185);
   margin-right: 15px;
   padding-right: 8%;
}

.navi-select select {
   border: 0;
   border: none;
   padding: 0px 20px;
}

.search-icon {
   background-color: #0989ff;
   color: #ffffff;
   padding: 7px 25px;
   font-size: 25px;
}

/* 3.USER ID*/
.user-info {
   width: 15%;
}

.user-image {
   height: 50px;
   width: 50px;
   border-radius: 100%;
   border: 2px solid rgb(232, 226, 226);
   display: flex;
   align-items: center;
   justify-content: center;
}

.user-image i {
   font-size: 25px;
   color: gray;
}

.user-info {
   display: flex;
   align-items: center;
}

.user-text {
   margin-left: 10px;
}

.hello {
   color: rgb(165, 162, 162);
   font-size: 12px;
}

.Account {
   font-size: 15px;
}

/* 4.icon */
.icon {
   width: 15%;
   right: 0;
   position: relative;
}

.icon-1 {
   font-size: 20px;
   margin: 10px;
}

.icon-2 {
   font-size: 20px;
   margin: 10px;
}

.icon-3 {
   font-size: 20px;
   margin: 10px;
}

.icon span i:hover {
   color: #0989ff;
}

.red {
   position: absolute;
   background-color: crimson;
   height: 19px;
   width: 19px;
   border-radius: 100%;
   color: white;
   font-size: 12px;
   border: 2px solid white;
   align-items: center;
   text-align: center;
   display: inline-block;
   top: -8px;
   right: 42%;
}

.red1 {
   position: absolute;
   background-color: crimson;
   height: 19px;
   width: 19px;
   border-radius: 100%;
   color: white;
   font-size: 12px;
   border: 2px solid white;
   align-items: center;
   text-align: center;
   display: inline-block;
   top: -8px;
   right: 17%;
   z-index: 1;
}

/* NAVBAR */
#inherhead2 {
   display: flex;
   justify-content: space-between;
   position: relative;
}

/* 1.drop down box */
.allcata {
   display: flex;
   /* width: 30%; */
}

.fa-solid {
   position: relative;
   top: 2px;
}

.allcatachild {
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: white;
   transition: all 0.3s;
   position: relative;
}

.button {
   padding: 11px 39px;
   color: white;
   background-color: #0989ff;
   display: flex;
   font-size: 15px;
}

.button ul {
   margin-right: 60px;
   margin-left: 12px;
}

.button:hover {
   background-color: black;
   color: white;
   cursor: pointer;
}

.allcata:hover .head2drop {
   display: block;
}

.head2drop {
   display: none;
   position: absolute;
   background-color: white;
   padding: 15px;
   width: 257px;
   border: 1px solid black;
   top: 40px;
   z-index: 10;
}

.allCataList {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   font-size: 15px;
   font-weight: 500;
   padding: 10px 0px;
   cursor: pointer;
}

.allCataList img {
   width: 30px;
   height: 30px;
}

.sideList {
   position: absolute;
   left: 100%;
   top: 0;
   width: 200px;
   background-color: white;
   padding: 10px;
   border: 1px solid black;
   display: none;
}

.sideList li {
   font-size: 20px;
   padding: 5px;
}

.allCataList:hover .sideList {
   display: block;
}

/*2. Nav item */
.nav-item {
   width: auto;
   display: flex;
   margin: auto;
   position: relative;
   right: 8%;
}

.head2-dropdown {
   padding: 8px;
   font-size: 14px;
   transition: all 0.3s;
   font-weight: bold;
   position: relative;
   flex-wrap: wrap;
   padding-right: 15px;
}

.head2-dropdown:hover {
   color: #0989ff;
   cursor: pointer;
}

/* 3.contact number */
.head2-contact {
   width: auto;
   display: flex;
   align-items: end;
   justify-content: space-between;
   align-items: center;
   position: relative;
   right: 0;
}

.head2-contact p span {
   font-size: 12px;
   color: rgb(105, 102, 102);
}

.head2-contact p {
   font-size: 14px;
}

.head2-contact i {
   margin-right: 10px;
}

.head2-contact p:hover {
   color: #0989ff;
}

/* main header part */
.best-bg {
   background-color: #115061;
   height: auto;
   position: relative;
}

.bg-desing img {
   mix-blend-mode: luminosity;
   opacity: 0.1;
   position: absolute;
   right: 0;
   top: 0;
}

.bg-text {
   color: white;
   position: relative;
   /* top: 30px; */
   align-items: center;
   width: 50%;
   /* display: flex; */
   flex-wrap: wrap;
}

.bg-text span {
   font-size: 16px;
}

.bg-text h1 b {
   font-size: 56px;
   font-weight: 900;
   flex-wrap: wrap;
}

.bg-text h2 {
   margin-top: 15px;
   font-family: 'Oregano', cursive;
   margin-bottom: 20px;
}

.other-images-1 {
   position: absolute;
   right: 33%;
   top: 7%;
   z-index: 0;
}

.other-image-2 {
   position: absolute;
   left: -20px;
   top: 40%;
}

.other-images-3 {
   position: absolute;
   bottom: 13%;
   right: 28%;
   z-index: -1;
}

.bg-text a {
   padding: 12px 25px;
   background: white;
   border-radius: 8px;
   color: black;
}

.bg-text a:hover {
   border: 0.5px solid white;
   color: white;
   background-color: #115061;
}

.shop-text {
   display: block;
   position: absolute;
   top: 100%;
}

.shop-text i {
   margin-left: 5px;
   position: relative;
   top: 3px;
   font-size: 20px;
}

.banner {
   display: flex;
   height: inherit;
   align-items: center;
   flex-wrap: wrap;
   padding: 20px;
}

.watch {
   width: 50%;
   margin-top: 100px;
   margin-bottom: 50px;
   display: flex;
   padding-left: 15%;
}

.watch img {
   max-width: 360px;
   height: auto;
}


/*  MAIN PAR-1   (SECTION-1  ,SECTIONN-2) */
.main-section-1 {
   width: auto;
   margin-top: 70px;
}

.main-section-2 {
   margin-bottom: 50px;
}

.part-1 {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.section-1 {
   height: 210px;
   width: 210px;
   border: 1px solid rgb(181, 223, 240);
   display: flex;
   flex-flow: wrap;
   background-color: rgb(223, 235, 241);
   border-radius: 100%;
   flex-direction: row;
   margin-bottom: 100px;

}

.star {
   color: #ffc107;
   font-size: 12px;
   font-weight: 500;
}

.line {
   font-size: 12px;
   text-decoration: line-through;
}

.rate {
   font-size: 15px;
   color: #0989ff;
   font-weight: 700;
   letter-spacing: 0.2pxlhjlp;
}

/* headphone */
.headphone-image {
   margin: 60px;
   object-fit: cover;
   position: relative;
   align-items: center;
}

.headphone-image:hover img {
   transform: scale(1.2);
   transition: 0.3s;
}

.headphone-text {
   text-align: center;
}

.headphone-text h3:hover {
   color: #0989ff;
}

/* Moblie-tablests  */
.Mobile-1-image {
   margin: 65px;
   margin-top: 50px;
   object-fit: cover;
   position: relative;
}

.Mobile-1-image:hover img {
   transform: scale(1.2);
   transition: 0.3s;
}

.Moblie-1-text {
   text-align: center;
}

.Moblie-1-text h3:hover {
   color: #0989ff
}

/* CPU Heat Pipes */
.Pipes-1-image {
   margin: 60px;
   margin-top: 48px;
   object-fit: cover;
   position: relative;
}

.Pipes-1-image:hover img {
   transform: scale(1.2);
   transition: 0.3s;
}

.Pipes-1-text {
   text-align: center;
}

.Pipes-1-text h3:hover {
   color: #0989ff;
}

/* CPU Heat Pipes */
.SmartWatch-1-image {
   margin: 60px;
   object-fit: cover;
   position: relative;
}

.SmartWatch-1-image:hover img {
   transform: scale(1.2);
   transition: 0.3s;
}

.SmartWatch-1-text {
   text-align: center;
}

.SmartWatch-1-text h3:hover {
   color: #0989ff;
}

/* Bluetooth */
.Bluetooth-1-image {
   margin: 65px 65px 50px 65px;
   margin-top: 30px;
   object-fit: cover;
   position: relative;
}

.Bluetooth-1-image:hover img {
   transform: scale(1.1);
   transition: 0.1s;
}

.Bluetooth-1-text {
   text-align: center;
}

.Bluetooth-1-text h3:hover {
   color: #0989ff;
}

/* ICON (SECTION-2)*/
.section-2 {
   height: 100px;
   width: 24%;
   display: flex;
   background-color: rgb(236, 239, 241);
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 5px;
}

/* Free Delivary */
.shipping-delivery-image i {
   color: red;
   font-size: 20px;
   align-items: flex-start;
   margin: 15px;
}

.shipping-delivery-text {
   margin-left: 10px;
}

.shipping-delivery {
   display: flex;
   align-items: center;
}

/* Return & Refunf */
.Return-image i {
   color: red;
   font-size: 20px;
   align-items: flex-start;
   margin: 15px;
}

.Return-text {
   margin-left: 15px;
}

.Return {
   display: flex;
   align-items: center;
}

/* Member Discount*/
.Discount-image i {
   color: red;
   font-size: 20px;
   align-items: flex-start;
   margin: 15px;
}

.Discount-text {
   margin-left: 15px;
}

.Discount {
   display: flex;
   align-items: center;
}

/* support 24/7 */
.Support-image i {
   color: red;
   font-size: 20px;
   align-items: flex-start;
   margin: 15px;
}

.Support-text {
   margin-left: 15px;
}

.Support {
   display: flex;
   align-items: center;
}





/* Trending Products - MAIN SECTION-2 (secion-3 , section-4)*/
.main_part_name {
   display: flex;
}

.asset {
   display: inline;
   position: relative;
   font-size: 20px;
   right: 0;
}

.asset a {
   position: relative;
   top: 20px;
   padding: 20px 30px;
}

.asset .Featured {
   color: rgb(201, 200, 200);
}

.asset .Top-seller {
   color: rgb(201, 200, 200);
}

.main_part_name h1 {
   color: black;
   font-size: 40px;
   margin-bottom: 40px;
}

.main_part_name img {
   color: red;
   position: relative;
   bottom: 60px;
}

/* 1. headphone wireless */
.part-2 {
   width: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   margin-bottom: 50px;
}

.section-3 {
   height: 400px;
   border: 1px solid rgb(229, 233, 233);
   display: flex;
   flex-flow: wrap;
   border-radius: 5px;
   align-items: center;
   overflow: hidden;
   margin: 20px 5px;
}

.section-3:hover {
   box-shadow: 1px 1px 3px rgb(176, 174, 174);
}

.wireless-image img {
   object-fit: cover;
   overflow: hidden;

}

.wireless-image:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.wireless-image {
   position: relative;
   width: 100%;
}

/* Hover */
.hover-open-content {
   display: none;
   position: absolute;
   right: 20px;
   bottom: 50px;
   transition: 1.5s;
}

.wireless-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.wireless-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
   line-height: 1.3;
}

/*2.  Gaming Headphone  */
.Gaming-image img {
   object-fit: cover;
   overflow: hidden;
}

.Gaming-image:hover:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.Gaming-image {
   position: relative;
    width: 100%;
}

/* Hover */
.Gaming-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.Gaming-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*3. Headphone with Mic*/
.Mic-image img {
   object-fit: cover;
   overflow: hidden;
}

.Mic-image:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.Mic-image {
   position: relative;
    width: 100%;
}

.out-stock {
   position: absolute;
   display: flex;
   align-items: end;
   padding: 3px 3px;
   color: white;
   font-size: 12px;
   border-radius: 5px;
   z-index: 1;
   background-color: crimson;
}

/* Hover */
.Mic-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.Mic-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*4.Galaxy Android Tablet*/

.Galaxy-image img {
   object-fit: cover;
   overflow: hidden;
}

.Galaxy-image:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.Galaxy-image {
   position: relative;
    width: 100%;
}

/* Hover */
.Galaxy-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.Galaxy-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*5. iPhone 14 Pro */

.iphone-image img {
   object-fit: cover;
   overflow: hidden;
}

.iphone-image:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.iphone-image {
   position: relative;
    width: 100%;
}

/* Hover */
.iphone-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.iphone-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*6. Apple iPad Air*/

.Apple-image img {
   object-fit: cover;
   overflow: hidden;
}

.Apple-image:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.Apple-image {
   position: relative;
    width: 100%;
}

/* Hover */
.Apple-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.Apple-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*7.DeepCool Air Cooler*/
.Deepcool-image img {
   object-fit: cover;
   overflow: hidden;
}

.DeepCool-image:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.DeepCool-image {
   position: relative;
    width: 100%;
}

/* Hover */
.DeepCool-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.DeepCool-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*8. Antec Air Cooler*/
.Air-image img {
   object-fit: cover;
   overflow: hidden;
}

.Air-image:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.Air-image {
   position: relative;
    width: 100%;
}

/* Hover */
.Air-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.Air-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}


/* Trending Products - MAIN SECTION-2 (secion-3 , section-4)*/
.main_part_name {
   display: flex;
}

.asset {
   display: inline;
   position: relative;
   font-size: 20px;
   /* left: 430px; */
}

.asset a {
   position: relative;
   top: 20px;
   padding: 20px 30px;
}

.asset .Featured {
   color: rgb(201, 200, 200);
}

.asset .Top-seller {
   color: rgb(201, 200, 200);
}

.main_part_name h1 {
   color: black;
   font-size: 40px;
   margin-bottom: 40px;
}

.main_part_name img {
   color: red;
   /* position: relative;
   bottom: 60px; */
}

/* 1. headphone wireless */
.part-2 {
   width: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.section-3 {
   /* height: 375px;
   width: 250px; */
   border: 1px solid rgb(229, 233, 233);
   display: flex;
   flex-flow: wrap;
   justify-content: space-between;
   border-radius: 5px;
   margin-bottom: 30px;
}

.section-3:hover {
   box-shadow: 1px 1px 3px rgb(176, 174, 174);
}

.wireless-image img {
   object-fit: cover;
   overflow: hidden;
   height: 250px;
   width: 250px;
}

.wireless-image:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.wireless-image {
   position: relative;
}

/* Hover */
.hover-open-content {
   display: none;
   position: absolute;
   right: 20px;
   bottom: 50px;
   transition: 1.5s;
}

.wireless-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.wireless-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*2.  Gaming Headphone  */
.Gaming-image img {
   object-fit: cover;
   overflow: hidden;
   height: 250px;
   width: 250px;
}

.Gaming-image:hover:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.Gaming-image {
   position: relative;
}

/* Hover */
.Gaming-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.Gaming-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*3. Headphone with Mic*/
.Mic-image img {
   object-fit: cover;
   overflow: hidden;
   height: 250px;
   width: 250px;
}

.Mic-image:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.Mic-image {
   position: relative;
}

.out-stock {
   position: absolute;
   margin: 5px 5px 5px 150px;
   padding: 3px 3px;
   color: white;
   font-size: 12px;
   border-radius: 5px;
   z-index: 1;
   background-color: crimson;
}

/* Hover */
.Mic-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.Mic-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*4.Galaxy Android Tablet*/
.Galaxy-image img {
   object-fit: cover;
   overflow: hidden;
   height: 250px;
   width: 250px;
}

.Galaxy-image:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.Galaxy-image {
   position: relative;
}

/* Hover */
.Galaxy-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.Galaxy-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*5. iPhone 14 Pro */
.iphone-image img {
   object-fit: cover;
   overflow: hidden;
   height: 250px;
   width: 250px;
}

.iphone-image:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.iphone-image {
   position: relative;
}

/* Hover */
.iphone-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.iphone-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*6. Apple iPad Air*/
.Apple-image img {
   object-fit: cover;
   overflow: hidden;
   height: 250px;
   width: 250px;
}

.Apple-image:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.Apple-image {
   position: relative;
}

/* Hover */
.Apple-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.Apple-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*7.DeepCool Air Cooler*/
.DeepCool-image img {
   object-fit: cover;
   overflow: hidden;
   height: 250px;
   width: 250px;
}

.DeepCool-image:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.DeepCool-image {
   position: relative;

}

/* Hover */
.DeepCool-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.DeepCool-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*8. Antec Air Cooler*/
.Air-image img {
   object-fit: cover;
   overflow: hidden;
   height: 250px;
   width: 250px;
}

.Air-image:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.Air-image {
   position: relative;
}

/* Hover */
.Air-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.Air-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/* Section-4 add */
.section-4 {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: auto;
}

.add-1 {
   overflow: hidden;
   position: relative;
   width: 680px;
   height: 250px;
   border-radius: 10px;
   margin-right: 20px;
   margin-bottom: 20px;;
}

.add-2 {
   overflow: hidden;
   position: relative;
   width: 400px;
   height: 250px;
   border-radius: 10px;
}

.add-image-1 {
   position: absolute;
}

.add-image-1:hover {
   transform: scale(1.1);
   transition: 1s;
}

.add-image-1 img {
   object-fit: cover;
   object-position: right;
   height: 250px;
   width: 680px;
}

.add-image-2 img {
   object-fit: cover;
   object-position: right;
   height: 250PX;
   width: 400px;
}

.add-text-1 {
   position: absolute;
   padding: 50px;
   font-size: 18px;
   line-height: 1.5;
}

.add-text-1 h1:hover {
   color: #0989ff;
}

.add-1 button {
   border: none;
   outline: none;
   margin-left: 60px;
   margin-top: 20px;
}

/* add 2 */
.add-image-2 {
   position: absolute;
}

.add-text-2 {
   position: absolute;
   padding: 50px;
   font-size: 18px;
   /* line-height: 1.3; */
}

.add-image-2:hover {
   transform: scale(1.1);
   transition: 1s;
}

.add-text-2 h1:hover {
   color: #0989ff;
}

.add-2 button {
   background-color: transparent;
   border: none;
   outline: none;
   margin-left: 60px;
   margin-top: 20px;
   z-index: 1;
}

/* MAIN PART-3 (Section-5 , section-6*/
.bg-color-part-3 {
   padding-bottom: 50px;
   background-color: rgb(236, 239, 241);
   opacity: 0.9;
   margin-bottom: 50px;
}

.main_part_name-1 {
   position: relative;
   margin-bottom: 50px;
}

.main_part_name-1 h1 {
   position: relative;
   margin-top: 150px;
   padding-bottom: 30px;
   top: 40px;
   color: black;
   font-size: 40px;
}

.main_part_name-1 img {
   position: absolute;
   top: 65px;
   left: 0;
   z-index: -1;
}

.bg-text-1 a {
   padding: 12px 20px;
   background: #0989ff;
   border-radius: 8px;
   color: white;
   position: absolute;
   top: 50px;
   right: 0;
}

.bg-text-1 a:hover {
   border: 0.5px solid white;
   color: white;
   background-color: black;
}

.shop-text-1 i {
   margin-left: 5px;
   position: relative;
   top: 3px;
   font-size: 20px;
}

/* section-5 */
.Gaming_headphone {
   height: 450px;
   width: 315px;
   border: 1px solid rgb(229, 233, 233);
   justify-content: space-between;
   border-radius: 10px;
   background-color: white;
}

.section-5:hover {
   box-shadow: 2px 2px 5px rgb(176, 174, 174);
}

/*1. Gaming_headphone */
.Gaming_headphone-image img {
   object-fit: cover;
   overflow: hidden;
   height: 315px;
   width: 315px;
}

.Gaming_headphone-image:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.Gaming_headphone-image {
   position: relative;
   display: flex;
   align-items: center;
}

/* Hover */
.Gaming_headphone-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.Gaming_headphone-text {
   padding: 25px;
   border-top: 2px solid rgb(229, 233, 233);
}

/* 2.antec_air_cooler */
.antec_air_cooler {
   height: 450px;
   width: 315px;
   border: 1px solid rgb(229, 233, 233);
   justify-content: space-between;
   border-radius: 10px;
   background-color: white;
}

.antec_air_cooler-image img {
   object-fit: cover;
   overflow: hidden;
   height: 315px;
   width: 315px;
}

.antec_air_cooler-image:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.antec_air_cooler-image {
   position: relative;
}

/* Hover */
.antec_air_cooler-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.antec_air_cooler-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*3.Sony_Lady_fitness_watch*/
.Sony_Lady_fitness_watch {
   height: 450px;
   width: 315px;
   border: 1px solid rgb(229, 233, 233);
   justify-content: space-between;
   border-radius: 10px;
   background-color: white;
}

.Sony_Lady_fitness_watch-image img {
   object-fit: cover;
   overflow: hidden;
   height: 315px;
   width: 315px;
}

.Sony_Lady_fitness_watch-image:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.Sony_Lady_fitness_watch-image {
   position: relative;
}

/* Hover */
.Sony_Lady_fitness_watch-image:hover .hover-open-content {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.Sony_Lady_fitness_watch-text {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/* section-6 */
.wrap_contain {
   width: 30%;
   height: 720px;
}

.sticky {
   position: sticky;
   top: 160px;
}

/* GADGETS */
.Gadgets {
   height: 350px;
   width: 350px;
   padding: 30px;
   border: 3px solid rgb(252, 34, 70);
   border-radius: 10px;
   overflow: hidden;
   margin-left: -9px;
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 13px;
}

.Girl_image {
   position: relative;
   bottom: -31px;
   left: 140px;
}

.Gadgets-text {
   position: relative;
   top: -290px
}

.Gadgets-text h3 {
   position: relative;
   margin-bottom: 15px;
   padding-bottom: 10px;
   border-bottom: 2px solid rgb(45, 45, 204);
}

.Gadgets span {
   font-size: 14px;
}

.Gadgets span i {
   margin-left: 5px;
}

.list {
   font-size: 15px;
   list-style-type: disc;
   margin-left: 10px;
   line-height: 2;
   margin-bottom: 10px;
}

li:hover {
   color: blue;
}

.arrow {
   font-size: 15px;
   font-weight: 600;
   margin-top: 30px;
}

/* NOVELTY */
.novelty {
   position: sticky;
   right: 10px;
}

.novelty-image {
   height: 150px;
   width: 300px;
   object-fit: cover;
   position: absolute;
   left: -10px;
}

.novelty-text {
   z-index: 1;
   font-size: 22px;
   color: white;
   position: relative;
   padding: 30px;
}

.part-3 {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin-bottom: 50px;
}

.section-6 {
   height: 375px;
   width: 235px;
   border: 1px solid rgb(229, 233, 233);
   display: flex;
   flex-flow: wrap;
   justify-content: space-between;
   border-radius: 5px;
   margin-bottom: 10px;
}

.part-3-fix {
   width: 70%;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.section-3:hover {
   box-shadow: 1px 1px 3px rgb(176, 174, 174);
}

.wireless-image-1 img {
   object-fit: cover;
   overflow: hidden;
}

.wireless-image-1:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.wireless-image-1 {
   position: relative;
}

.section-6:hover {
   box-shadow: 2px 2px 5px rgb(176, 174, 174);
}

/* Hover */
.hover-open-content-1 {
   display: none;
   position: absolute;
   right: 20px;
   bottom: 50px;
   transition: 1.5s;
}

.wireless-image-1:hover .hover-open-content-1 {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.wireless-text-1 {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*2.  Gaming Headphone  */
.Gaming-image-1 img {
   object-fit: cover;
   overflow: hidden;
}

.Gaming-image-1:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.Gaming-image-1 {
   position: relative;
}

/* Hover */
.Gaming-image-1:hover .hover-open-content-1 {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.Gaming-text-1 {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*3. Headphone with Mic*/
.Mic-image-1 img {
   object-fit: cover;
   overflow: hidden;
}

.Mic-image-1:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.Mic-image-1 {
   position: relative;
}

.out-stock {
   position: absolute;
   margin: 5px 5px 5px 150px;
   padding: 3px 3px;
   color: white;
   font-size: 12px;
   border-radius: 5px;
   z-index: 1;
   background-color: crimson;
}

/* Hover */
.Mic-image-1:hover .hover-open-content-1 {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.Mic-text-1 {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*4.Galaxy Android Tablet*/
.Galaxy-image-1 img {
   object-fit: cover;
   overflow: hidden;
}

.Galaxy-image-1:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.Galaxy-image-1 {
   position: relative;
}

/* Hover */
.Galaxy-image-1:hover .hover-open-content-1 {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.Galaxy-text-1 {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*5. iPhone 14 Pro */
.iphone-image-1 img {
   object-fit: cover;
   overflow: hidden;
}

.iphone-image-1:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.iphone-image-1 {
   position: relative;
}

/* Hover */
.iphone-image-1:hover .hover-open-content-1 {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.iphone-text-1 {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}

/*6. Apple iPad Air*/
.Apple-image-1 img {
   object-fit: cover;
   overflow: hidden;
}

.Apple-image-1:hover img {
   transform: scale(1.1);
   transition: 1s;
}

.Apple-image-1 {
   position: relative;
}

/* Hover */
.Apple-image-1:hover .hover-open-content-1 {
   display: block;
   transform: translate(30px);
   transform: scale(1.3);
   transition: 2s;
}

.Apple-text-1 {
   padding: 20px;
   border-top: 1px solid rgb(229, 233, 233);
}