.boxes
{
    padding: 30px;
    border: 1px solid gray;
}

.card
{
    border-radius: 30px;
    overflow: hidden;
}
.card-body
{
    padding: 20px;
}
.btn
{
    background-color: rgb(242, 240, 240);
    border-radius: 30px;
}