/* .section-1
{
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.maindiv{
    height: 230px;
    width: 230px;
    position: relative;
    border-radius: 20px;    
    overflow: hidden;
}
.maindiv img{
    height: 230px;
    width: 230px;
    object-fit: cover;
}
.main-overlay{
    height: 230px;
    width: 230px;
}
.overlay{
    height: 230px;
    width: 230px;
    background-color: black;
    opacity: 0.5;   
    position: absolute;
    top:0;  
    display: none;
}
.main-overlay{
    display: none;
}
.maindiv:hover .main-overlay{
    display: block;
}
.maindiv:hover .overlay{
    display: block;
}
.main-overlay span{
    height: inherit;
    width: inherit;
    position: absolute;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-overlay span i{   
    border:1px solid white;
    font-size: 20px;
    color:white;
    padding: 5px;
    border-radius: 10px; 
}
.maindiv:hover .main-overlay span{
    animation-duration: 0.8s;
    animation-name: slide;
}
@keyframes slide {
    from{
        transform: translateY(15px);
        opacity: 0;
    }
    to{
        opacity: 1;
    }
} */

/* ********************************************************************* */
/* *
{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.container
{
    width: 50%;
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlaydiv
{
    width: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
img{
    
    object-fit: cover ;
}
.layer
{
   height: inherit;
   width: inherit;
   position: absolute;
   top: 0;
   z-index: 2;
}
.layer:hover
{
     background-color: black;
     opacity: 0.9;
    transition: 2s;
}
.text{
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    text-align: center;
    justify-content: center;
    display: flex;
}
img{
    margin-left: 100px;
}
.overlaydiv:hover .text{
    opacity: 1;
    display: block;
}
h1{
    color: white;
    text-align: center;
    display: none;
    opacity: 0.1;
    transition: 2s;
} */

.overlaydiv{
    position: relative;
    height: 100%;
    width: 100%;
}
.overlaydiv{
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.overlaydiv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.layer {
    height: inherit;
    width: inherit;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    z-index: 2;
}
.overlaydiv:hover text{
    display: block;
}
.overlaydiv:hover .layer{
    display: block;
}
.layer{
    display: none;
}
.text{
    height: inherit;
    width: inherit;
    position: absolute;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    
    color: white;
    text-align: center;
    opacity: 0.9;
    transition: 2s;
}
.overlaydiv:hover .text{
    animation-duration: 0.8s;
    animation-name: slide;
}
@keyframes slide {
    from{
        transform: translateY(15px);
        opacity: 0;
    }
    to{
        opacity: 1;
    }
} 